<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>She-Spawn</title>
</head>
<body>
<style>
    h1{
        color: red;
        text-shadow: 1px 1px black;
        font-weight: bold;
    }
    h3 {
        font-weight: bold;
    }
</style>
<center>
    <h1>SHE SPAWN</h1>
    <p>best female heroine</p>

    <h3>welcome to tribute page</h3>
    <a>
        <img type="jpg" src="https://i.pinimg.com/736x/4d/91/8a/4d918a10c5b8e5f9242288d91fb36bac.jpg" alt="Girl in the shadows"/>
    </a>
        <p></p>
    <a href="https://www.youtube.com/watch?v=NewIECcXNlk">WHO IS SHE?</a>
    <p></p>

    <a class="btn" href="/gallery">Gallery</a>
</center>

</body>
</html>